<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page</title>
    <link rel="stylesheet" href="../src/styleSheet/page.css">
</head>
<body>
<div class="page-box">
	<div id="page" v-if="pageSize > 0">
		<div class="item">
			<button @click="handlePrev">&lt;</button>
			<button class="disable" v-if="showPrev">...</button>
			<template v-for="(v, k) in arrPage">
				<button :class="{active: currPage == v}" @click="handleClick(v)">{{v}}</button>
			</template>
			<button class="disable" v-if="showNext">...</button>
			<button @click="handleNext">&gt;</button>
		</div>
	</div>
</div>
<script src="/static/dist/vue.min.js" charset="utf-8"></script>
<script>
window.onload = function(){
    Vue.config.devtools = true;
    var vm = new Vue({
    	el: '#page',
    	data: {
    		pageSize: 15,
    		currPage: 1,
    		arrPage: [],
    		showPrev: false,
    		showNext: false,
    	},
    	watch: {
    		currPage: function(){
    			this.arrPage = this.getPageArr();
    		}
    	},
    	methods: {
    		handleClick: function(e){
    			this.currPage = e;
    		},
    		handlePrev: function(){
    			if(this.currPage - 1 >= 1){
    				this.currPage -= 1;
    			}
    		},
    		handleNext: function(){
    			if(this.currPage + 1 <= this.pageSize){
    				this.currPage += 1;
    			}
    		},
			getPageArr: function() {
				var pagerCount = 6;
				var currPage = +this.currPage;
				var pageSize = +this.pageSize;
				var showPrev = false;
				var showNext = false;
				var arr = [];      

				if(pageSize > pagerCount){
					if(currPage > pagerCount - 1){
						showPrev = true;
					}

					if(currPage < pageSize - 1){
						showNext = true;
					}
				}

				if(showPrev && !showNext){
					var startPage = pageSize - (pagerCount - 1 );
					for (var i = startPage + 1; i <= pageSize; i ++) {
						arr.push(i);
					}
				}else if(!showPrev && showNext){
					for(var i = 1; i <= pagerCount-1; i ++){
						arr.push(i);
					}
				}else if(showPrev && showNext){
					var offset = Math.floor(pagerCount / 2) - 1;
					for(var i = currPage - offset + 1; i <= currPage + offset; i ++){
						arr.push(i);
					}
				}else{
					for(var i = 1; i <= pageSize; i ++){
						arr.push(i);
					}
				}

				this.showNext = showNext;
				this.showPrev = showPrev;

				return arr;
			},  		
    	},
    	created: function(){
    		this.arrPage = this.getPageArr();
    	},
    });
};
</script>
</body>
</html>