#b-title{
  height: 34px;
  line-height: 34px;
  span{
    font-size: 16px;
  }
  .color-block{
    height: 20px;
    width: 4px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: sub;
  }
}
