.App {
  text-align: center;
}

.App-logo {
  animation     : App-logo-spin infinite 20s linear;
  height        : 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  min-height: 500px;

  .header {
    margin-bottom: 20px;

    >*:not(:last-child) {
      margin-right: 10px;
    }

    .pagination {
      display       : inline-block;
      vertical-align: middle;
      min-width     : 500px;
    }

    .correct {
      width      : 240px;
      // border     : 1px lightgray dotted;
      font-weight: bold;
      opacity    : 0;
      cursor     : pointer;
      display    : inline-block;

      &:hover:not(.hover), &.hover:not(:hover), &:focus {
        opacity: 1;
      }
    }
  }

  .header+.ant-row-flex {
    max-height: 480px;
    overflow  : auto;
  }

  .ant-slider {
    display       : inline-block;
    width         : 120px;
    vertical-align: bottom;
  }

  .col {
    text-align : center;
    line-height: 40px;

    .left {
      display       : inline-block;
      vertical-align: middle;
      width         : 50px;
      text-align    : right;
      width         : 120px;
      text-align    : right;
      margin-right  : 10px;
    }

    .middle {
      vertical-align: middle;
      display       : inline-block;
      width         : 80%;

      >span.ant-input-group-wrapper {
        padding-top: 4px;
      }
    }

    .right {
      vertical-align: middle;
      display       : inline-block;
      width         : 50px;
    }
  }
}

.error-row {
  span {
    margin-right: 6px;
  }
}

.active-sound {
  color: #1890ff !important;
}

.active-input .ant-input {
  border-color: #1890ff !important;
}