html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.container{
  height: 100%;
  display: flex;
}
.part {
  margin-right: 10px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content{
  flex-grow: 1;
  overflow: auto;
}
.content-inline {
  height: 1200px;
  background: lightgoldenrodyellow;
}
.footer{
  background: lightcyan;
  height: 80px;
}
body {
  display: flex;
  flex-direction: column;
}
.pa {
  height: 80px;
  background: lightcoral;
}
.layout-content {
  flex-grow: 1;
  display: flex;
}
.pb {
  width: 200px;
  background: lightseagreen;
}
.pc {
  overflow-y: auto;
  flex-grow: 1;
}
.pd {
  height: 80px;
  background: lightpink;
}