/*maxin style part*/
deleteFlag
.b-radio .el-radio__input.is-checked .el-radio__inner{
  border-color:@A;
  background-color:@A
}
.el-radio__input.is-checked+.el-radio__label, .el-radio__label {
  color: @C;
}
