/*navpart*/
deleteFlag

#side_nav .theme-color-H-hover-nav:hover span{
  color: @H!important;
}
#side_nav .theme-color-H-hover-nav:hover a {
  color: @H !important;
}
#side_nav .theme-color-H-hover-nav:hover i{
  color: @H!important;
}
#side_nav .el-submenu__title:hover{
  background: @A!important;
}
#side_nav .el-submenu__title:hover i{
  color: @H!important;
}
#side_nav .el-submenu__title:hover span{
  color: @H!important;
}
#side_nav .el-submenu__title i {
  color: @C!important;
  margin-top: -6px!important;
}
#side_nav .second-padding {
  padding-left: 46px!important;
}
#side_nav .b-icon {
  visibility: visible!important;
  width: 60px;
  height: 56px;
  margin-top: 20px;
}
