extends ../index

block content
<<<<<<< HEAD
  img(src=renderData.page_info.img_1 style={position: 'absolute', left: '0', top: '0', width: '100%', height: '100%', 'z-index': '-1'})
=======
>>>>>>> 8e42a9b0dd522263bff10263b5a0e871ede4b0fb
  #app
    #A
    #main-content.clear
      #B
      #C
    #D
